/* base */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

/* container */

.container {
    width: 85%;
    margin: 0 auto;
}

/************* typography ***************/

h5,
.content-heading,
.testimonial-heading,
.huge-text,
.heading,
.heading-about {
    font-family: 'Oswald', sans-serif;
}

.heading,
.heading-about,
.content-heading,
.content-heading-sub,
.testimonial-heading {
    color: #583d72;
}

.heading,
.heading-about {
    font-weight: 600;
}

.heading {
    font-size: 70px;
    letter-spacing: 0px;
}

.heading-color {
    color: #ff7e67;
    margin-bottom: 20px;
}

.heading-about,
.content-heading,
.testimonial-heading {
    font-size: 45px;
    font-weight: 500;
}

.heading-about {
    margin-bottom: 30px;
}

.paragraph {
    color: dimgray;
    line-height: 1.5;
    font-size: 17px;
}

.content-heading-sub {
    font-size: 22.5px;
    padding: 10px 0;
}

/************** section navigation **************/

.navigation {
    height: 100px;
    background-color: #fcf8e8;
    margin-bottom: 3.5%;
}

.list {
    list-style: none;
    float: right;
    margin: 2.5% 15% 0 0;
}

.list-item {
    float: left;
    margin-left: 35px;
    color: #583d72;
    font-weight: 600;
}

/***************** section details ****************/

.details {
    margin-top: 20px;
}

.details::after {
    content: "";
    display: table;
    clear: both;
}

.intro {
    width: 50%;
    float: left;
}

.intro-picture {
    margin-top: 120px;
}

.intro-img {
    width: 85%;
    height: 85%;
}

.about {
    width: 50%;
    float: left;
}

.about-text {
    margin: 105px 25px 0 150px;
}

/**************** section content ***************/

.content {
    text-align: center;
    padding: 120px 0;
    background-color: #ecf4f3;
    margin: 100px 0;
}

.content-details {
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
}

.content-details::after {
    content: "";
    display: table;
    clear: both;
}

.content-box {
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
    border-radius: 10px;
    padding: 1%;
    width: 30%;
    float: left;
}

.content-box:not(:last-child) {
    margin-right: 5%;
}

.con-img {
    width: 100%;
    height: 100%;
}

/************ section testimonial ************/

.testimonial {
    text-align: center;
    padding: 10px 0 100px;
}

.testimonial-feat {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.testimonial-feat::after,
.testimonial-box::after {
    content: "";
    display: table;
    clear: both;
}

.testimonial-box {
    background-color: #ecf4f3;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, .30);
}

.testimonial-box:not(:last-child) {
    margin-bottom: 35px;
}

.test-details-1 {
    padding-top: 20px;
    width: 92.5%;
    padding-left: 250px;
}

.test-details-2 {
    padding-top: 20px;
    float: left;
    width: 68%;
    padding-left: 35px;
}

.test-img-1,
.test-img-2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.test-img-1 {
    float: left;
}

.test-img-2 {
    float: right;
}

/**************** section cta ***************/

.cta {
    margin-top: 150px;
    padding: 45px 0;
    background-color: #fcf8e8;
}

.cta-box {
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    padding: 65px;

    background-image: url(images/cta-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.cta-box::after {
    content: "";
    display: table;
    clear: both;
}

.huge-text {
    font-size: 65px;
    float: left;
    color: whitesmoke;
    margin-top: 13px;
    font-weight: 700;
}

.cta-btn {
    margin-top: 8px;
    float: right;
}

/* footer */

.footer {
    padding: 75px 0;
    text-align: center;
}

.huge-text-2 {
    font-size: 37.5px;
    font-weight: 700;
    color: #583d72;
    padding: 15px 0;
}

.list-2 {
    list-style: none;
    width: 20%;
    margin: 0 auto;
}

.list-2::after {
    content: "";
    display: table;
    clear: both;
}

.list-img {
    height: 45px;
}

h5 {
    color: grey;
    text-transform: uppercase;
    font-size: 20px;
}

/* buttons */

.btn:link,
.btn:visited {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .35);
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 20px 40px;
    margin-top: 25px;
    border-radius: 7px;
    background-image: linear-gradient(to bottom, #f56046, #e48372);
}

/* utilities */

.set {
    margin-top: 15px;
    margin-left: -54px;
}